[submodule "themes/anzhiyu"]
	path = themes/anzhiyu
	url = https://github.com/anzhiyu-c/hexo-theme-anzhiyu.git
	branch = dev
[submodule "source/_posts"]
	path = source/_posts
	url = https://richfan:dbd9d9f5947dfab6b13c64b2b9dae527@gitee.com/richfan/posts.git
[submodule "source/img"]
	path = source/img
	url = https://richfan:dbd9d9f5947dfab6b13c64b2b9dae527@gitee.com/richfan/img.git
