@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'DYH';        
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/fonts/SmileySans-Oblique.otf.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: Black;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

/* 小动物夜间显示优化 */
[data-theme='dark'] #page-header.nav-fixed #nav {
    background: var(--anzhiyu-black)!important;
}

[data-theme='dark'] #page-header #nav {
    background: 0 !important;
}

/* 鱼塘颜色 */
:root {
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-gray-op: #9999992b;
  --anzhiyu-theme-top: var(--anzhiyu-theme);
  --anzhiyu-white: #fff;
  --anzhiyu-white-op: rgba(255, 255, 255, 0.2);
  --anzhiyu-black: #000;
  --anzhiyu-black-op: rgba(0, 0, 0, 0.2);
  --anzhiyu-none: rgba(0, 0, 0, 0);
  --anzhiyu-gray: #999999;
  --anzhiyu-yellow: #ffc93e;
  --anzhiyu-border-radius: 8px;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-main-op: var(--anzhiyu-theme-op);
  --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
  --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
  --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
  --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
  --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
  --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--anzhiyu-main);
  --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
  --style-border-avatar: 4px solid var(--anzhiyu-background);
  --style-border-always: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-white-acrylic1: #fefeff !important;
  --anzhiyu-white-acrylic2: #fcfdff !important;
  --anzhiyu-black-acrylic2: #08080a !important;
  --anzhiyu-black-acrylic1: #0b0b0e !important;
  --anzhiyu-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
  --anzhiyu-theme: #3b70fc;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-blue: #3b70fc;
  --anzhiyu-red: #d8213c;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #363636;
  --anzhiyu-background: #f7f9fe;
  --anzhiyu-reverse: #000;
  --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
  --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
  --anzhiyu-hovertext: var(--anzhiyu-theme);
  --anzhiyu-ahoverbg: #f7f7fa;
  --anzhiyu-lighttext: var(--anzhiyu-main);
  --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
  --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
  --anzhiyu-card-btn-bg: #edf0f7;
  --anzhiyu-post-blockquote-bg: #fafcff;
  --anzhiyu-post-tabs-bg: #f2f5f8;
  --anzhiyu-secondbg: #edf0f7;
  --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --anzhiyu-card-bg: #fff;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #c0c6d8;
}

[data-theme="dark"] {
  --global-bg: #191919;
  --anzhiyu-theme: #0084ff;
  --anzhiyu-theme-op: #0084ff23;
  --anzhiyu-blue: #0084ff;
  --anzhiyu-red: #ff3842;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #f7f7fa;
  --anzhiyu-background: #18171d;
  --anzhiyu-reverse: #fff;
  --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
  --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
  --anzhiyu-hovertext: #0a84ff;
  --anzhiyu-ahoverbg: #fff;
  --anzhiyu-lighttext: #f2b94b;
  --anzhiyu-secondtext: #a1a2b8;
  --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
  --anzhiyu-card-btn-bg: #30343f;
  --anzhiyu-post-blockquote-bg: #000;
  --anzhiyu-post-tabs-bg: #121212;
  --anzhiyu-secondbg: #30343f;
  --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --anzhiyu-card-bg: #1d1b26;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #42444a;
}

#web_bg ~ .page:has(.fcircle_page) {
  background-color: #f7f9fe !important;
}

#idouban {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: row;
}

#idouban .idouban-comment {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

#idouban .idouban-item {
  position: relative;
  width: calc(100% / 4 - 0.8rem / 2);
  border-radius: 12px;
  border: var(--style-border);
  box-shadow: var(--efu-shadow-border);
  background: var(--efu-card-bg);
  transition: 0.3s;
  animation: slide-in 0.6s 0.3s backwards;
  border: var(--style-border);
  height: 160px;
  min-height: 160px !important;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  #idouban .idouban-item {
    width: calc(100% / 3 - 0.7rem / 2);
  }
}

@media screen and (max-width: 899px) {
  #idouban .idouban-item {
    width: calc(100% / 2 - 0.5rem / 2);
  }
}

@media screen and (max-width: 600px) {
  #idouban .idouban-item {
    width: 100%;
  }
}

#idouban .idouban-item:hover {
  border-color: var(--efu-main);
}

#idouban .idouban-item .idouban-picture {
  width: 120px;
  height: 100%;
  top: 0;
  padding: 10px;
}

#idouban .idouban-item .idouban-picture img {
  margin: 0;
  height: 100%;
  max-width: 100%;
  border-radius: 6px;
}

#idouban .idouban-item .idouban-info {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  position: relative;
}

#idouban .idouban-item .idouban-info .idouban-rating {
  position: absolute;
  bottom: 5px;
  line-height: 16px;
}

#idouban .idouban-item .idouban-info .idouban-meta {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1300px) {
  #idouban .idouban-item .idouban-info .idouban-meta {
    -webkit-line-clamp: 3 !important;
  }
}

@media screen and (max-width: 899px) {
  #idouban .idouban-item .idouban-info .idouban-meta {
    -webkit-line-clamp: 4 !important;
  }
}

#idouban .idouban-item .idouban-info > div {
  width: 100%;
}

#idouban .idouban-item .idouban-info > div a {
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
}

#idouban .idouban-item .idouban-info > div a {
  border-bottom: 0;
}

#idouban .idouban-item .idouban-info > div a:hover {
  background: none;
  color: var(--efu-main);
}

.idouban-pagination {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  animation: slide-in 0.6s 0.3s backwards;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.idouban-pagination .idouban-button {
  background: var(--efu-card-bg);
  height: 2rem;
  line-height: calc(2rem - 2px);
  border-radius: 8px !important;
  margin: 0;
  padding: 6px 12px !important;
  box-shadow: var(--efu-shadow-border);
  border: var(--style-border);
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
}

.idouban-pagination .idouban-button:hover {
  background: var(--efu-main);
  border: var(--style-border) !important;
}

.idouban-tabs {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  padding: 0.4rem 1rem 0.4rem 1rem;
  background: var(--efu-card-bg);
  border-radius: 12px;
  border: var(--style-border);
  animation: slide-in 0.6s 0.3s backwards;
  transition: 0.3s;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.idouban-tabs:hover {
  border-color: var(--efu-main);
  transition: 0.3s;
}

.idouban-tabs a {
  padding: 0.1rem 0.5rem !important;
  font-weight: 700;
  border-radius: 8px !important;
  border-bottom: 0;
}

.idouban-tabs .idouban-tab-active {
  background: var(--efu-main);
}

.idouban-pagination {
  width: 100%;
}